:root {
	--white: #eaeaea;
	--mainColor: #263849;
	--secondaryColor: #0a1724;
	--borderColor: #164D56;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--themeDotBorder: #FFF;
	--previewBg: rgb(25, 39, 52, 0.8);
	--previewShadow: #111921;
	--buttonColor: #17a2b8;
	--popupColor: #08121d;
}

