@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --white: #eaeaea;
	--mainColor: #eaeaea;
	--secondaryColor: #fff;
	--borderColor: #c1c1c1;
	--mainText: black;
	--secondaryText: #4b5156;
	--themeDotBorder: #24292e;
	--previewBg: rgb(251, 249, 243, 0.8);
	--previewShadow: #f0ead6;
    --buttonColor: black;
    --popupColor: #d1d1d1;
}

.button_sedona{
    color: #17a2b8;
}

.hidden {
    display: none;
}
.sedona_popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 600px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 0px grey;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation-name: bounce;
    animation-duration: 0.5s;
    background-color: var(--popupColor);
    border-bottom: 1px solid var(--borderColor);
    padding: 5px;
}

.kekstagram_popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 600px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 0px grey;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation-name: bounce;
    animation-duration: 0.5s;
    background-color: var(--popupColor);
    border-bottom: 1px solid var(--borderColor);
    padding: 5px;
    
}


h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea {
	color: var(--secondaryText);
	font-family: 'Roboto', sans-serif;
}

p{
    font-size: 20px;
}

a {
	text-decoration: none;
	color: var(--mainText);
}

ul {
	list-style: none;
}

h1 { font-size: 60px; }
h2 { font-size: 35px; }
h3 { font-size: 32px; }
h4 { font-size: 29px; }
h5 { font-size: 25px; color: var(--white);}
h6 { font-size: 20px; }

.modal__stack-list {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
}

.modal__stack-item {
    font-size: 14px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
}

.modal__stack-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: crimson;
}
.modal__link {
    border-bottom: 1px solid crimson;
    font-family: 'Roboto', sans-serif;
}

.modal__link:hover{
    outline: none;
    color: crimson;
    border-color: transparent;
}

.modal__link:focus{
    outline: none;
    color: crimson;
    border-color: transparent;
}

.sedona, .kekstagram{
    border-radius: 3px solid crimson;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.about__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.about__link:hover, .about__link:focus {
    outline: none;
    color: crimson;
    border-color: transparent;
}

.about__item{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    border-bottom: 1px dashed #17a2b8;
    padding-bottom: 3px;
    margin-bottom: 25px;
}


.item_project{

    border: 1px solid #ececec;
    min-height: 360px;
    width: auto;
    margin-bottom: 50px;
}

.item_project:hover, .item_project:focus {
    border: 3px solid crimson;
}

.popup_photo{
    height: 400px;
    width: 100%;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.nameprojects{
    position: relative;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 25px;
}

.myprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; }

.about_popup{
    margin-top: -10px;
    margin-left: 40px;
    max-width: 60%;
}

.modal__stack-list {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    list-style: none; }
  

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    background: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 160px;
}
.sedona_first {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.sedona_second {
    width: 70%;
    height: 47%;
    overflow: hidden;
}


.sedona_third {
    width: 28%;
    height: 47%;
    overflow: hidden;
}


.photos_popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}

.close_popupsedona{
    display: block;
    position: relative;
    top: 3%;
    left: 91%;
    width: 18px;
    height: 18px; 
    background: none;
    border: none;
}
.close_popupkeks{
    display: block;
    position: relative;
    top: 3%;
    left: 91%;
    width: 18px;
    height: 18px; 
    background: none;
    border: none;
}
.close_popupsedona:after{
      position: absolute;
      left: 8px;
      top: -1px;
      display: block;
      content: "";
      width: 3px;
      height: 20px;
      background-color: rgb(114, 114, 114);
      transform: rotate(45deg); 
}
.close_popupkeks:after{
    position: absolute;
    left: 8px;
    top: -1px;
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color:  rgb(114, 114, 114);
    transform: rotate(45deg); 
}

.close_popupsedona:before{
      position: absolute;
      left: 8px;
      top: -1px;
      display: block;
      content: "";
      width: 3px;
      height: 20px;
      background-color:  rgb(114, 114, 114);
      transform: rotate(-45deg);
}
.close_popupkeks:before {
    position: absolute;
    left: 8px;
    top: -1px;
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color:  rgb(114, 114, 114);
    transform: rotate(-45deg);
}

.close_popupsedona:hover:after, .close_popupsedona:hover:before{
      background-color: crimson;
      transition: background-color 0.5s ease-out; 
}
.close_popupkeks:hover:after, .close_popupkeks:hover:before {
    background-color: crimson;
    transition: background-color 0.5s ease-out; 
}

.close_popupsedona:focus:after, .close_popupsedona:focus:before{
    background-color: crimson;
    transition: background-color 0.5s ease-out; 
}
.close_popupkeks:focus:after, .close_popupkeks:focus:before {
  background-color: crimson;
  transition: background-color 0.5s ease-out; 
}


.navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--mainColor);
    border-bottom: 2px solid var(crimson);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
.navbtn:hover, .navbtn:focus {
    outline: none;
    color: crimson;
    border-color: transparent;
}



  
.achive{
    width: 100%;
    height: auto;
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

.achive_name{
    position: relative;
    font-size: 40px;
    width: 100%;
    text-align: center;
    padding: 25px;
}

.achive_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.achive_item{
    border: 1px solid  #17a2b8;
    margin: 7px;
    width: 300px;
    height: 466px;
    padding: 3px;
}

.achive_img{
    width: 100%;
    height: 100%;
}






.greeting {
    text-align: center;
    font-size: 60px;
}

.intro_wrapper {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 450px;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}

.intro_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 100%;
}

#avatar {
    width: 200px;
    height: 200px;
    border: 2px solid var(--borderColor);
}

.theme_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 50px;
}

.theme_dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s all;
}

.theme_dot:hover, .theme_dot:focus { border-width: 4px;} 

#light_mode { background: #fff; }

#blue_mode { background: #192734; }

#settings_note {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.popup_name{
    color: black;
    font-size: 26;
    font-weight: 500;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


.popup_name:hover, .navpopup_namebtn:focus {
    outline: none;
    color: crimson;
    border-color: transparent;
}

.right_column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
}

#preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 180px;
    background: var(--mainColor);
    padding: 15px;
}

.corner {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;

}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

.about_wrapper {
    display: flex;
    grid-template-columns: 1, 1;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100%;
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 560px;
    height: 90%;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 137px;
    background: var(--mainColor);
    margin-bottom: 20px;
}

.social_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 90%;
    text-align: center;
    background-color: var(--secondaryColor);
    padding: -1px;
}

.social_img {
    width: 550px;
    height: auto;
}

br {
    display: none;
}

.projects {
    width: auto;
    margin: 0 auto;
    padding: 0px 10px;
    background: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    
}  


#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    font-family: 'Roboto', sans-serif;
}



.contacts_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 300px;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;

    background-color: var(--secondaryColor);
}

.contact {
    color: var(--mainText);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    font-weight: 700;
}

.contact:hover, .contact:focus {
    outline: none;
    color: crimson;
    border-color: transparent;
}

.achive_img:hover, .achive_img:focus {
    border: 3px;
    color: crimson;
    border-color: transparent;
}

#submit_btn {
    color: #fff;
    background-color: var(--buttonColor);
    padding: 5px 30px;
    border-radius: 3px;
}


.popupfont{
    font-weight: 700;
    color: #17a2b8;
}

.socialname{
    position: relative;
    font-size: 40px;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background-color: var(--secondaryColor);
    
}

.about__link{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.about__link:hover, .about__link:focus {
    border: 3px solid crimson;
}

.morephotos{
    display: none;
    font-weight: 700;
    color: crimson;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.modal__text{
    font-size: 14px;
}


@media screen and (max-width: 1250px) {
    .header_title, .intro_wrapper, .about_wrapper, .sedona_popup, .kekstagram_popup{
        width: 90%;
}

@media screen and (max-width: 1250px) {
    .sedona_popup, .kekstagram_popup{
        height: 80%;
}

@media screen and (max-width: 550px) {
   .about_wrapper{
       height: 700px;
        
}

@media screen and (max-width: 1250px) {
    .myprojects {
            width: 90%;
            margin :0px auto ;
}

@media screen and (max-width: 1135px) {
    .projects {
        height: auto;
        width: 100%;
    }
} 

@media screen and (max-width: 935px) {
    header {
        height: 850px;
    }

    .intro_wrapper {
        height: 700px;
    }

    .about {
        height: auto;
    }

    .social_links {
        width: 100%;
        height: auto;
        padding: 20px 0px 20px 0px;
        
    }

    .intro_content, .about_wrapper {
        flex-direction: column;
    }
    
    .left_column {
        width: 100%;
        padding: 20px 0px 20px 0px;
    }

    .right_column {
        width: 100%;
    }
}

@media screen and (max-width: 935px) {
    .about_wrapper {
        flex-direction: column;
        grid-template-columns: 1;
    }
}

@media screen and (max-width: 900px) {
    .about_me {
        width: 70%;
        height: 500px;
        padding: 20px 0px 0px 0px;
    }
} 

@media screen and (max-width: 850px) {
.header_title, .intro_wrapper, .sedona_popup, .kekstagram_popup {
        width: 70%;
        height: 85%;
    }
}

@media screen and (max-width: 850px) {
    #preview{
         width: 70%;
         height: auto;
    }
}

@media screen and (max-width: 950px) {
    .modal__text, .label-description, .modal__stack-item{
        height: auto;
        font-size: 11px;
    }
}

@media screen and (max-width: 850px){
    .social_links {
    width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;
    }
}

@media screen and (max-width: 850px) {
    .sedona_popup, .kekstagram_popup{
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .photos_popup{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .close_popupsedona, .close_popupkeks {
        left: 85%;
        top: 3%;
    }
}

@media screen and (max-width: 550px) {
    .close_popupsedona, .close_popupkeks {
        left: 118%;
        top: 3%;
    }
}

@media screen and (max-width: 850px) {
    .intro_wrapper {

        background-image: url("../img/background.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 570px) {
    #skills {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .sedona_popup, .kekstagram_popup{
        width: 70%;
        height: 570px;
    }
}

@media screen and (max-width: 850px) {
    .modal__stack-item, .modal__text, .label-description{
        height: auto;
        font-size: 9px;
    }
}

@media screen and (max-width: 550px) {
    .modal__stack-item, .modal__text, .label-description{
        height: auto;
        font-size: 17px;
    }
}

@media screen and (max-width: 550px) {
    .morephotos{
        display: block;
    }
}


@media screen and (max-width: 750px) {
    .popupfont{
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .aboutpadding{
        padding-top: 80px;
    }
}

@media screen and (max-width: 510px) {
    .item_project {
        width: 100%;
        height: auto;
    }

    .social_img {
        width: 100%;
        height: auto;
    }

    .social_links {
        justify-content: center;
    }

    .social_links > h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    br {
        display: block;
    }
}

@media screen and (max-width: 440px) {
    header {
        height: 910px;
    }

    .header_title {
        height: auto;
    }

    #preview {
        width: 220px;
    }

    .about_me {
        height: 600px;
    }

    .contact {
        width: 280px;
    }
}